/** LEAFLET TOGGLE LAYER OVERRIDE **/
.leaflet-control-layers {
    min-width: 2.6rem;
    min-height: 2.6rem;
}
.leaflet-control-layers-toggle {
    width: 2.6rem;
    height: 2.6rem;
}
.leaflet-control-layers label {
    font-size: 1rem;
}

/** Leaflet doubleTouchDragZoom Plugin **/
.leaflet-double-touch {
    user-select: none;
}
.leaflet-double-touch-drag {
    cursor: row-resize;
}

/** Leaflet Routing **/
.leaflet-routing-container {
    display: none !important;
}
