<div class="pt-1 pb-3">
    <h1 class="fs-4 position-relative">
        <a class="btn btn-xs btn-outline-secondary border-0 position-absolute"
           data-turbo-frame="_top"
           href="{{ path('trip_index') }}"
           title="{{ 'action.back'|trans }}"
           style="left: -26px;top: 2px;opacity: 0.75;"
        >◀︎</a>
        {{ trip.name }}
    </h1>
</div>
